<!DOCTYPE html>
<html>
<head>
  <title>Вход</title>
</head>
<body>
  <h1>Вход</h1>
  <% if (error) { %>
    <p style="color: red;"><%= error %></p>
  <% } %>
  <form action="/login" method="post">
    <label for="username">Потребителско име:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Парола:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">Вход</button>
  </form>
  <p>Нямате акаунт? <a href="/register">Регистрирайте се</a></p>
</body>
</html>